{% extends 'layouts/base.html.twig' %}

{% block title "Applications | ATOS" %}

{% block body %}

<div class="mt-5 pt-4 title">
    <h2 class="text-center">ATOS | Apply for job</h2>
</div>
    {# {{form_start(form)}}
        {{form_widget(form)}}
        <input type="button" value="submit">
    {{form_end(form)}} #}


<div class="d-flex justify-content-center">
    {{form_start(form, {'attr': {'class': 'mt-3 row col-md-10 g-3'}})}}
        <div class="col-md-2">
            <label for="applicant_gender" class="form-label">Gender</label>
            {{form_widget(form.gender)}}
            {# <div class="row row-cols-md-auto d-flex align-items-center">
                <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault1">Male</label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault2">Female</label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                </div>
            </div> #}
        </div>
        <div class="col-md-5">
            <label for="applicant_firstname" class="form-label">Frist Name</label>
            {{form_widget(form.firstname)}}
        </div>
        <div class="col-md-5">
            <label for="appplicant_lastname" class="form-label">Last Name</label>
            {{form_widget(form.lastname)}}
        </div>
        <div class="col-md-4">
            <label for="applicant_email" class="form-label">Email</label>
            {{form_widget(form.email, {'attr': {'placeholder': 'johndoe@example.com'}})}}
        </div>
        <div class="col-md-2">
            <label for="applicant_phone" class="form-label">Phone</label>
            {{form_widget(form.phone, {'attr': {'placeholder': '77 123 45 67'}})}}
        </div>
        <div class="col-md-6">
            <label for="applicant_profession" class="form-label">Apply as</label>
            <select class="form-select" name="profession" id="profession">
            {# {{{% for item in items %}
                <option value="">Other</option>
            {% endfor %}}} #}
                <option value="">Other</option>
                <option value="">UI Designer</option>
                <option value="">Software Engineer</option>
                <option value="">Front end Developer</option>
                <option value="">Back end Developer</option>
                <option value="">Database Administrator</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="applicant_experienceYears" class="form-label">Expreience Years</label>
            {{form_widget(form.experienceYears, {'attr': {'min': '0'}})}}
        </div>
        <div class="col">
            <label for="formFile" class="form-label">Upload resume</label>
            <input class="form-control" aria-label="Select file" type="file" id="formFile">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">Allow ATOS to save your data and join you if needs arise.</label>
            </div>
        </div>
        <div class="mt-5 col-12">
            <button type="submit" class="btn btn-lg btn-primary w-100">Apply</button>
        </div>
    {{form_end(form, {render_rest: false})}}
</div>    

{% endblock %}
