{% extends 'layouts/base.html.twig' %}

{% block title 'Applications | '~ enterprise_name %}

{% block body %}

<div class="my-5 jopi__title">
    <h1 class="h2 text-center"><span>{{enterprise_name}}</span> | Apply for job</h1>
</div>
<div class="jopi__form">
    <div class="d-flex justify-content-center">
        {{form_start(form, {'attr': {'class': 'mt-3 row col-md-10 g-3'}})}}
            <div class="col-md-2">
                <label for="applicant_gender" class="form-label">Gender</label>
                {{form_widget(form.gender)}}
                {# <div class="row row-cols-md-auto d-flex align-items-center">
                    <div class="form-check">
                        <label class="form-check-label" for="flexRadioDefault1">Male</label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="flexRadioDefault2">Female</label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    </div>
                </div> #}
            </div>
            <div class="col-md-5">
                <label for="applicant_firstname" class="form-label">Frist Name</label>
                {{form_widget(form.firstname)}}
                {{form_errors(form.firstname)}}
            </div>
            <div class="col-md-5">
                <label for="appplicant_lastname" class="form-label">Last Name</label>
                {{form_widget(form.lastname)}}
                {{form_errors(form.lastname)}}
            </div>
            <div class="col-md-4">
                <label for="applicant_email" class="form-label">Email</label>
                {{form_widget(form.email, {'attr': {'placeholder': 'johndoe@example.com'}})}}
                {{form_errors(form.email)}}
            </div>
            <div class="col-md-3">
                <label for="applicant_phone" class="form-label">Phone</label>
                {{form_widget(form.phone, {'attr': {'type': 'tel', 'placeholder': '77XXXXXXX'}})}}
                {{form_errors(form.phone)}}
            </div>
            <div class="col-md-5">
                <label for="applicant_position" class="form-label">Apply as</label>
                {{form_widget(form.position)}}
                {{form_errors(form.position)}}
            </div>
            <div class="col-md-4">
                <label for="applicant_experienceYears" class="form-label">Expreience Years</label>
                {{form_widget(form.experienceYears, {'attr': {'min': '0'}})}}
                {{form_errors(form.experienceYears)}}
            </div>
            <div class="col">
                <label for="applicant_resumeFile_file" class="form-label">Resume</label>
                {{form_widget(form.resumeFile)}}
                {{form_errors(form.resumeFile)}}
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">Allow {{enterprise_name}} to save your data and reach you out if needs arise.</label>
                </div>
            </div>
            <div class="my-5 col-12">
                <button type="submit" class="btn btn-lg btn-primary w-100" formnovalidate>Apply</button>
            </div>
        {{form_end(form, {render_rest: true})}}
    </div>    
</div>

{% endblock %}
